.app-header {
  display: flex;
  align-items: center;
  height: 60px;
  min-height: 60px;
  padding: 10px 20px;
  background-color: #30353d;
}

.app-title {
  margin-right: 20px;
  font-size: 100%;
  text-align: center;
  font-weight: normal;
  color: rgba(255,255,255,.5);
}

.app-login {
  margin-left: auto;
}

.btn {
  padding: 4px 8px;
  border-radius: 4px;
  font-family: $font-stack;
  font-size: 80%;
  line-height: 1.5;
  background-color: #55acee;
  border: none;
  color: white;
}

#login-buttons {
  .login-display-name {
    font-family: $font-stack;
    font-size: 80%;
    color: rgba(255,255,255,.5);
  }
  .login-image {
    display: none;
  }
  .text-besides-image {
    margin: 0;
    color: white;
  }
  .login-button {
    font-family: $font-stack;
    background-color: #55acee;
    &:hover {
      background-color: darken(#55acee, 10%);
    }
  }
}
