.app-header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 60px;
  min-height: 60px;
  padding: 10px 20px;
  background-color: #30353d;
}

.app-title {
  margin-right: auto;
  font-size: 100%;
  text-align: center;
  font-weight: normal;
  a {
    color: rgba(255,255,255,.5);
    text-decoration: none;
  }
}

.app-share {
  margin-right: 10px;
}

.app-share-btn {
  padding: 4px 8px;
  border-radius: 4px;
  font-family: $font-stack;
  font-size: 80%;
  line-height: 1.5;
  background-color: #55acee;
  border: none;
  color: white;
}

#login-buttons {
  .login-display-name {
    font-family: $font-stack;
    font-size: 80%;
    color: rgba(255,255,255,.5);
  }
  .login-image {
    display: none;
  }
  .text-besides-image {
    margin: 0;
    color: white;
  }
  .login-button {
    font-family: $font-stack;
    background-color: transparent;
    &:hover {
      background-color: transparent;
    }
  }
}
